.item a {
    color: inherit;
}

.item p {
    margin-left: 16px;
    margin-right: 16px;
}

.item {
    position: relative;
    background-color: white;
    background-color: rgba(255, 245, 245, 0.85);
    transition: background-color 0.5s ease;
    overflow: hidden;
    padding: 3%;
    min-height: 225px;
    margin-bottom: 32px;
    border: 2px solid black;
}

.menuItem {
    padding: 0%;
}

.folder {
    height: 225px;
}

.folder button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: inherit;
}

.folder text {
    position: absolute;
    font-size: larger;
    bottom: 40%;
    left: 0;
    width: 100%;
    height: 15%;
}

.item:hover {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
}

.item img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.folder img {
    height: 100%;
    width: auto;
    /* filter: contrast(500%); */
    opacity: 0.8;
}

.m-warning {
    color: rgb(175, 1, 1);
    font-weight: bold;
    font-size: smaller;
}

@media (min-width: 600px) {
    .m-warning{
        display: none;
    }
}

.links {
    width: 70%;
    margin: auto;
}

.links span {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5%;
    font-weight: bold;
    white-space: nowrap
}